@import "bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de fuente */
:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* Comportamiento de desplazamiento */
html {
  scroll-behavior: smooth;
}

/* Modo claro (light) */
html.light body {
  color: rgb(19, 19, 19);
  background: linear-gradient(
    to bottom left,
    rgba(162, 170, 167, 0.8),
    rgba(20, 20, 30, 0.9)
  );
  margin: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto), sans-serif;
  background-repeat: no-repeat;
}

/* Modo oscuro (dark) */
html.dark body {
  color: #e0e0e0;
  background: linear-gradient(
    to bottom left,
    rgba(10, 10, 20, 0.9),
    rgba(0, 0, 10, 0.95)
  );
  margin: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto), sans-serif;
  background-repeat: no-repeat;
}

/* Estilo de encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
}

/* Utilidades adicionales */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.darkmode-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.language-switcher{
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}


/* Sombra sutil con un toque más suave */
.shadow-cyan-500 {
  box-shadow: 0 0 6px rgba(0, 255, 255, 0.3), 0 0 15px rgba(0, 255, 255, 0.2);
}


